In [1]:
import os
import time
import argparse
import pandas as pd
import numpy as np
from faker import Faker
from sqlalchemy import create_engine
from datetime import datetime
from dotenv import load_dotenv
from faker_vehicle import VehicleProvider

load_dotenv()

True

In [2]:
username = os.environ.get("POSTGRES_DATABASE_USER")
password = os.environ.get("POSTGRES_PASSWORD")
host = os.environ.get("POSTGRES_HOST")
port = os.environ.get("POSTGRES_PORT")
database = os.environ.get("POSTGRES_DATABASE")
table = os.environ.get("POSTGRES_TABLE")

In [3]:
# função para parsear a saída do parâmetro SILENT
def str2bool(v):
    if isinstance(v, bool):
       return v
    if v.lower() in ('yes', 'true', 't', 'y', '1'):
        return True
    elif v.lower() in ('no', 'false', 'f', 'n', '0'):
        return False
    else:
        raise argparse.ArgumentTypeError('Boolean value expected.')

In [4]:
# Instancia a classe Faker
faker = Faker()
faker.add_provider(VehicleProvider)

if __name__ == "__main__":

    parser = argparse.ArgumentParser(description='Generate fake data...')

    parser.add_argument('--interval', type=int, default=1,
                        help='interval of generating fake data in seconds')
    parser.add_argument('-n', type=int, default=1,
                        help='sample size')
    parser.add_argument('--connection-string', '-cs', dest="connection_string", 
                        type=str, default=f'postgresql://{username}:{password}@{host}:{port}/{database}',
                        help='Connection string to the database')
    parser.add_argument('--silent', type=str2bool, nargs='?',
                        const=True, default=False,
                        help="print fake data")

    args, unknown = parser.parse_known_args()

    print(f"Args parsed:")
    print(f"Interval: {args.interval}")
    print(f"Sample size; {args.n}")
    print(f"Connection string: {args.connection_string}", end='\n\n')

    #-----------------------------------------------------------------

    engine = create_engine(args.connection_string)

    print("Iniciando a simulacao...", end="\n\n")

    # Gera dados fake a faz ingestão
    while True:
        customer_id   = [faker.random_int() for i in range(args.n)]
        ano_modelo        = [faker.vehicle_year_make_model() for i in range(args.n)]
        modelo             = [faker.vehicle_make_model() for i in range(args.n)]
        fabricante             = [faker.vehicle_make() for i in range(args.n)]
        ano_veiculo     = [faker.vehicle_year() for i in range(args.n)]
        categoria  = [faker.vehicle_category() for i in range(args.n)]
        dt_update         = [datetime.now() for i in range(args.n)]

        df = pd.DataFrame({
            "customer_id": customer_id,
            "ano_modelo": ano_modelo,
            "modelo": modelo,
            "fabricante": fabricante,
            "ano_veiculo": ano_veiculo,
            "categoria": categoria,
            "dt_update": dt_update,
        })

        df.to_sql("vehicle", con=engine, if_exists="append", index=False)

        if not args.silent:
            print(df, end="\n\n")

        time.sleep(args.interval)

Args parsed:
Interval: 0.005
Sample size; 1
Connection string: postgresql://postgres:mantis0090a@localhost:5432/postgres

Iniciando a simulacao...

   customer_id                  ano_modelo              modelo fabricante  \
0         8994  2017 Mercedes-Benz G-Class  Pontiac Grand Prix     Nissan

  ano_veiculo categoria                  dt_update
0        2015       SUV 2024-08-18 13:36:50.601287

   customer_id                     ano_modelo                  modelo  \
0         5642  2015 Nissan Frontier King Cab  Cadillac Sixty Special

  fabricante ano_veiculo categoria                  dt_update
0      Lexus        2018     Sedan 2024-08-18 13:36:50.672878

   customer_id           ano_modelo                  modelo fabricante  \
0         7773  2002 Toyota 4Runner  Mercedes-Benz SL-Class        GMC

  ano_veiculo categoria                  dt_update
0        1998    Pickup 2024-08-18 13:36:50.693265

   customer_id     ano_modelo                 modelo fabricante ano_veiculo  \
0         6367  2013 Lexus GS  Dodge Dakota Club Cab        GMC        1992

     categoria                  dt_update
0  Van/Minivan 2024-08-18 13:36:50.713286

   customer_id      ano_modelo         modelo fabricante ano_veiculo  \
0         7405  2015 Ford Edge  Dodge Avenger  Chevrolet        2012

  categoria                  dt_update
0     Sedan 2024-08-18 13:36:50.733802

   customer_id                 ano_modelo                   modelo  \
0         1497  2019 Ford Transit 250 Van  Dodge Ram 3500 Quad Cab

    fabricante ano_veiculo categoria                  dt_update
0  Lamborghini        2019       SUV 2024-08-18 13:36:50.753813

   customer_id                                    ano_modelo  \
0         7110  2010 Chevrolet Silverado 3500 HD Regular Cab

               modelo fabricante ano_veiculo categoria  \
0  Nissan Regular Cab   INFINITI        1992    Pickup

                   dt_update
0 2024-08-18 13:36:50.772738

   customer_id        ano_modelo    modelo fabricante ano_veiculo categoria  \
0          177  2003 Isuzu Axiom  Lexus IS        GMC        2002       SUV

                   dt_update
0 2024-08-18 13:36:50.792382

   customer_id        ano_modelo             modelo fabricante ano_veiculo  \
0         5571  2019 Honda Civic  Lincoln Navigator     Nissan        2014

     categoria                  dt_update
0  Convertible 2024-08-18 13:36:50.812406

   customer_id                  ano_modelo       modelo fabricante  \
0         6181  2007 Chevrolet Monte Carlo  Buick Regal      Buick

  ano_veiculo categoria                  dt_update
0        2008       SUV 2024-08-18 13:36:50.830919

   customer_id                    ano_modelo         modelo fabricante  \
0         9657  2004 Ford Freestar Passenger  Honda Odyssey       Saab

  ano_veiculo categoria                  dt_update
0        2006     Sedan 2024-08-18 13:36:50.848437

   customer_id     ano_modelo                  modelo fabricante ano_veiculo  \
0          105  2013 Scion iQ  Mercedes-Benz SL-Class      Dodge        2002

   categoria                  dt_update
0  Hatchback 2024-08-18 13:36:50.866447

   customer_id       ano_modelo          modelo fabricante ano_veiculo  \
0         5256  2016 MAZDA CX-3  Mercury Tracer        BMW        1993

     categoria                  dt_update
0  Van/Minivan 2024-08-18 13:36:50.885180

   customer_id        ano_modelo                modelo fabricante ano_veiculo  \
0         5281  2001 Toyota RAV4  GMC 1500 Regular Cab        BMW        2020

     categoria                  dt_update
0  Convertible 2024-08-18 13:36:50.904014

   customer_id                       ano_modelo        modelo fabricante  \
0         2098  1996 Chevrolet 2500 Regular Cab  MAZDA MAZDA6     Nissan

  ano_veiculo categoria                  dt_update
0        2001       SUV 2024-08-18 13:36:50.922034

   customer_id             ano_modelo         modelo fabricante ano_veiculo  \
0          267  1997 Chrysler Sebring  Toyota Avalon  Chevrolet        2003

            categoria                  dt_update
0  Coupe, Convertible 2024-08-18 13:36:50.940290

   customer_id            ano_modelo       modelo fabricante ano_veiculo  \
0         8792  1998 Chevrolet Metro  Buick Regal     Toyota        2001

  categoria                  dt_update
0     Wagon 2024-08-18 13:36:50.958165

   customer_id          ano_modelo         modelo fabricante ano_veiculo  \
0         9179  2013 Dodge Avenger  MAZDA Protege      Dodge        1998

     categoria                  dt_update
0  Van/Minivan 2024-08-18 13:36:50.976685

   customer_id                  ano_modelo         modelo     fabricante  \
0         4440  1994 Mercedes-Benz C-Class  Jaguar I-PACE  Mercedes-Benz

  ano_veiculo categoria                  dt_update
0        2018    Pickup 2024-08-18 13:36:50.994878

   customer_id         ano_modelo             modelo fabricante ano_veiculo  \
0         6247  2012 Cadillac SRX  Mercedes-Benz GLE  Chevrolet        1996

     categoria                  dt_update
0  Van/Minivan 2024-08-18 13:36:51.013095

   customer_id                   ano_modelo                   modelo  \
0         4375  2005 Mercedes-Benz SL-Class  Dodge Ram 2500 Mega Cab

  fabricante ano_veiculo categoria                  dt_update
0      Dodge        2003       SUV 2024-08-18 13:36:51.031129

   customer_id       ano_modelo                       modelo fabricante  \
0         5786  2016 MAZDA CX-9  GMC Sierra 2500 Regular Cab      Acura

  ano_veiculo categoria                  dt_update
0        2015    Pickup 2024-08-18 13:36:51.050648

   customer_id           ano_modelo                    modelo fabricante  \
0         6621  1998 Oldsmobile LSS  Chrysler Pacifica Hybrid      Acura

  ano_veiculo categoria                  dt_update
0        2003    Pickup 2024-08-18 13:36:51.070337

   customer_id     ano_modelo               modelo fabricante ano_veiculo  \
0         8797  1999 Acura TL  Ford F150 Super Cab  Chevrolet        2009

  categoria                  dt_update
0       SUV 2024-08-18 13:36:51.091859

   customer_id                  ano_modelo                            modelo  \
0         4821  2002 Ford Ranger Super Cab  Chevrolet Express 2500 Passenger

  fabricante ano_veiculo  categoria                  dt_update
0    Porsche        2003  Hatchback 2024-08-18 13:36:51.110373

   customer_id               ano_modelo             modelo fabricante  \
0         3732  1994 Pontiac Grand Prix  Toyota Highlander    Porsche

  ano_veiculo categoria                  dt_update
0        2002       SUV 2024-08-18 13:36:51.128396

   customer_id          ano_modelo             modelo fabricante ano_veiculo  \
0          111  2012 Hyundai Azera  Alfa Romeo Spider      Buick        2012

     categoria                  dt_update
0  Van/Minivan 2024-08-18 13:36:51.147915

   customer_id       ano_modelo                   modelo fabricante  \
0         4837  2020 Subaru WRX  Kia Niro Plug-in Hybrid        BMW

  ano_veiculo     categoria                  dt_update
0        2005  Sedan, Wagon 2024-08-18 13:36:51.167434

   customer_id             ano_modelo      modelo fabricante ano_veiculo  \
0         7269  2001 Lincoln Town Car  Kia Sedona     Jaguar        2013

     categoria                  dt_update
0  Van/Minivan 2024-08-18 13:36:51.187442

   customer_id      ano_modelo        modelo fabricante ano_veiculo categoria  \
0         7667  2014 Acura ILX  Toyota Supra      MAZDA        2008     Coupe

                   dt_update
0 2024-08-18 13:36:51.206466

   customer_id                     ano_modelo        modelo fabricante  \
0         6385  2005 GMC Sierra 1500 Crew Cab  Nissan Quest  Chevrolet

  ano_veiculo    categoria                  dt_update
0        2009  Van/Minivan 2024-08-18 13:36:51.225479

   customer_id                 ano_modelo                 modelo fabricante  \
0         2002  1996 GMC 2500 Regular Cab  Mercedes-Benz M-Class        GMC

  ano_veiculo               categoria               dt_update
0        2000  Hatchback, Convertible 2024-08-18 13:36:51.245

   customer_id       ano_modelo      modelo fabricante ano_veiculo  \
0         6600  2009 Honda CR-V  Lincoln LS     Nissan        2016

     categoria                  dt_update
0  Van/Minivan 2024-08-18 13:36:51.264521

   customer_id      ano_modelo       modelo     fabricante ano_veiculo  \
0         7946  2017 Acura NSX  Geo Tracker  Mercedes-Benz        2006

     categoria                  dt_update
0  Van/Minivan 2024-08-18 13:36:51.283043

   customer_id     ano_modelo                 modelo fabricante ano_veiculo  \
0         2736  2011 Lexus ES  GMC Savana 1500 Cargo       Jeep        1999

  categoria                  dt_update
0       SUV 2024-08-18 13:36:51.301557

   customer_id                     ano_modelo            modelo fabricante  \
0         9083  2014 Toyota Tacoma Double Cab  MAZDA MX-5 Miata     Nissan

  ano_veiculo           categoria                  dt_update
0        1994  Convertible, Coupe 2024-08-18 13:36:51.319069

   customer_id                       ano_modelo    modelo fabricante  \
0         6186  2019 Ford Transit Connect Cargo  Lexus SC      MAZDA

  ano_veiculo    categoria                  dt_update
0        2003  Van/Minivan 2024-08-18 13:36:51.336587

   customer_id            ano_modelo          modelo fabricante ano_veiculo  \
0         4011  1995 Hyundai Elantra  Hyundai Sonata    Porsche        1996

  categoria                  dt_update
0     Sedan 2024-08-18 13:36:51.354597

   customer_id               ano_modelo               modelo fabricante  \
0         3175  1997 Dodge Ram Van 2500  Ford F250 Super Cab       Ford

  ano_veiculo categoria                  dt_update
0        2010     Sedan 2024-08-18 13:36:51.372101

   customer_id          ano_modelo             modelo     fabricante  \
0         2116  2001 Nissan Altima  Mitsubishi Mirage  Mercedes-Benz

  ano_veiculo categoria                  dt_update
0        2004       SUV 2024-08-18 13:36:51.390132

   customer_id                   ano_modelo         modelo  fabricante  \
0         8964  2003 GMC Sonoma Regular Cab  Jeep Wrangler  Mitsubishi

  ano_veiculo categoria                  dt_update
0        1992       SUV 2024-08-18 13:36:51.407647

   customer_id                ano_modelo             modelo     fabricante  \
0         5365  1993 Mercedes-Benz 500 E  Nissan Pathfinder  Mercedes-Benz

  ano_veiculo categoria                  dt_update
0        2013       SUV 2024-08-18 13:36:51.425654

   customer_id        ano_modelo      modelo fabricante ano_veiculo categoria  \
0           30  2006 Honda Pilot  INFINITI I        GMC        2015    Pickup

                   dt_update
0 2024-08-18 13:36:51.443055

   customer_id       ano_modelo  modelo fabricante ano_veiculo  categoria  \
0         5831  2019 Volvo XC60  BMW X5     Toyota        2016  Hatchback

                   dt_update
0 2024-08-18 13:36:51.460688

   customer_id                  ano_modelo                 modelo fabricante  \
0         1844  2020 Toyota Tundra CrewMax  Ford Ranger Super Cab      MAZDA

  ano_veiculo categoria                  dt_update
0        2013       SUV 2024-08-18 13:36:51.477929

   customer_id                  ano_modelo                    modelo  \
0         2566  1992 Mercury Grand Marquis  GMC Sierra 1500 Crew Cab

  fabricante ano_veiculo categoria                  dt_update
0  Chevrolet        2012       SUV 2024-08-18 13:36:51.497444

   customer_id      ano_modelo                     modelo fabricante  \
0         8203  2014 Acura MDX  Dodge Sprinter 2500 Cargo       Audi

  ano_veiculo categoria                  dt_update
0        2017     Sedan 2024-08-18 13:36:51.516301

   customer_id            ano_modelo        modelo fabricante ano_veiculo  \
0         3228  2003 Hyundai Tiburon  Ford Contour     Toyota        2013

  categoria                  dt_update
0     Sedan 2024-08-18 13:36:51.536338

   customer_id             ano_modelo                modelo fabricante  \
0          419  2002 MAZDA MX-5 Miata  Mitsubishi Outlander        Ram

  ano_veiculo categoria                  dt_update
0        2019       SUV 2024-08-18 13:36:51.555212

   customer_id      ano_modelo         modelo     fabricante ano_veiculo  \
0          656  2019 Acura RLX  Jeep Cherokee  Mercedes-Benz        2012

  categoria                  dt_update
0       SUV 2024-08-18 13:36:51.574725

   customer_id            ano_modelo  modelo fabricante ano_veiculo  \
0         6304  2020 Lincoln Aviator  BMW X5        GMC        1992

     categoria                  dt_update
0  Van/Minivan 2024-08-18 13:36:51.593766

   customer_id                          ano_modelo        modelo fabricante  \
0         1944  2017 GMC Sierra 3500 HD Double Cab  Suzuki Swift     Jaguar

  ano_veiculo           categoria                  dt_update
0        2020  Coupe, Convertible 2024-08-18 13:36:51.614778

   customer_id              ano_modelo         modelo fabricante ano_veiculo  \
0         8420  2011 Volkswagen Tiguan  Nissan Sentra     Toyota        1993

  categoria                  dt_update
0     Coupe 2024-08-18 13:36:51.634298

   customer_id     ano_modelo                        modelo fabricante  \
0         3811  2016 BMW X6 M  GMC Sierra 3500 Extended Cab    Porsche

  ano_veiculo categoria                  dt_update
0        2001       SUV 2024-08-18 13:36:51.654328

   customer_id      ano_modelo    modelo fabricante ano_veiculo    categoria  \
0         9656  2004 Jaguar XJ  Lexus LS      Dodge        1995  Convertible

                   dt_update
0 2024-08-18 13:36:51.674046

   customer_id       ano_modelo        modelo fabricante ano_veiculo  \
0         1762  2012 Maybach 57  Eagle Summit      Dodge        2015

            categoria                  dt_update
0  Coupe, Convertible 2024-08-18 13:36:51.695434

   customer_id                   ano_modelo         modelo fabricante  \
0         8596  2015 Mercedes-Benz GL-Class  Tesla Model X       Ford

  ano_veiculo    categoria                  dt_update
0        2013  Van/Minivan 2024-08-18 13:36:51.715450

   customer_id                  ano_modelo         modelo fabricante  \
0         3193  1997 Mercedes-Benz S-Class  Oldsmobile 88  Chevrolet

  ano_veiculo     categoria                  dt_update
0        2011  Sedan, Wagon 2024-08-18 13:36:51.735195

   customer_id       ano_modelo        modelo fabricante ano_veiculo  \
0         2562  2004 INFINITI I  smart fortwo     Toyota        2005

  categoria                  dt_update
0    Pickup 2024-08-18 13:36:51.753712

   customer_id                     ano_modelo        modelo fabricante  \
0         3707  2005 Nissan Frontier King Cab  Nissan Versa       Ford

  ano_veiculo    categoria                  dt_update
0        2017  Van/Minivan 2024-08-18 13:36:51.772723

   customer_id                       ano_modelo             modelo  \
0          730  2016 Mitsubishi Outlander Sport  Lincoln Navigator

      fabricante ano_veiculo categoria                  dt_update
0  Mercedes-Benz        2003     Wagon 2024-08-18 13:36:51.791191

   customer_id             ano_modelo     modelo fabricante ano_veiculo  \
0         7690  2008 Volkswagen Jetta  Volvo V70        GMC        2004

  categoria                  dt_update
0    Pickup 2024-08-18 13:36:51.813202

   customer_id         ano_modelo                   modelo fabricante  \
0         2590  2014 Cadillac XTS  Chrysler Town & Country       Ford

  ano_veiculo categoria                  dt_update
0        2011    Pickup 2024-08-18 13:36:51.833018

   customer_id             ano_modelo              modelo fabricante  \
0         7046  2006 Buick Rendezvous  Chevrolet Corvette    Ferrari

  ano_veiculo categoria                  dt_update
0        1992       SUV 2024-08-18 13:36:51.851026

   customer_id            ano_modelo         modelo fabricante ano_veiculo  \
0         4775  2001 Volkswagen Golf  Pontiac Aztek        GMC        2004

     categoria                  dt_update
0  Convertible 2024-08-18 13:36:51.869051

   customer_id                                         ano_modelo  \
0         7417  2007 Chevrolet Silverado (Classic) 3500 Extend...

                          modelo fabricante ano_veiculo  \
0  Dodge Grand Caravan Passenger       Ford        2016

                          categoria                  dt_update
0  Sedan, Coupe, Convertible, Wagon 2024-08-18 13:36:51.887167

   customer_id                       ano_modelo       modelo fabricante  \
0         2678  2014 Ford Transit Connect Cargo  Ford Escort      Lexus

  ano_veiculo categoria                  dt_update
0        2005    Pickup 2024-08-18 13:36:51.904689

   customer_id         ano_modelo        modelo fabricante ano_veiculo  \
0         1777  2011 MINI Clubman  Ford Mustang     Toyota        2018

  categoria                  dt_update
0    Pickup 2024-08-18 13:36:51.922201

   customer_id               ano_modelo        modelo fabricante ano_veiculo  \
0         1869  2007 Mitsubishi Eclipse  BMW 6 Series      Honda        2008

  categoria                  dt_update
0    Pickup 2024-08-18 13:36:51.939725

   customer_id              ano_modelo  modelo fabricante ano_veiculo  \
0          204  2002 Cadillac Escalade  BMW X7        GMC        2006

  categoria                  dt_update
0    Pickup 2024-08-18 13:36:51.958244

   customer_id     ano_modelo     modelo fabricante ano_veiculo  \
0          492  2015 Kia Soul  Saab 9000        Kia        2009

             categoria                  dt_update
0  Wagon, Sedan, Coupe 2024-08-18 13:36:51.975760

   customer_id      ano_modelo   modelo fabricante ano_veiculo    categoria  \
0         4835  2014 Ford Edge  Audi A8    Mercury        1997  Van/Minivan

                   dt_update
0 2024-08-18 13:36:51.993771

   customer_id                ano_modelo                             modelo  \
0          151  1992 Mercedes-Benz 400 E  Chevrolet Silverado 1500 Crew Cab

  fabricante ano_veiculo categoria                  dt_update
0       Ford        2007     Sedan 2024-08-18 13:36:52.012648

   customer_id               ano_modelo     modelo fabricante ano_veiculo  \
0         1631  1999 Chevrolet Cavalier  Jaguar XK    Bentley        2016

  categoria                  dt_update
0     Sedan 2024-08-18 13:36:52.029755

   customer_id               ano_modelo              modelo  fabricante  \
0         2661  2018 Chevrolet Corvette  Pontiac Grand Prix  Mitsubishi

  ano_veiculo  categoria                  dt_update
0        2011  Hatchback 2024-08-18 13:36:52.047280

   customer_id                      ano_modelo                        modelo  \
0         5546  2013 Toyota Tacoma Regular Cab  Land Rover Range Rover Sport

  fabricante ano_veiculo categoria                  dt_update
0  Chevrolet        2012     Sedan 2024-08-18 13:36:52.064798

   customer_id         ano_modelo    modelo fabricante ano_veiculo  \
0         3429  2016 GMC Yukon XL  Lexus LX        GMC        2012

     categoria                  dt_update
0  Van/Minivan 2024-08-18 13:36:52.084503

   customer_id                                    ano_modelo  \
0          873  2007 Chevrolet Silverado 2500 HD Regular Cab

                      modelo fabricante ano_veiculo categoria  \
0  Chevrolet Suburban 3500HD       MINI        2000    Pickup

                   dt_update
0 2024-08-18 13:36:52.102020

   customer_id                  ano_modelo         modelo fabricante  \
0         6635  2007 Dodge Dakota Club Cab  Lotus Exige S      Volvo

  ano_veiculo    categoria                  dt_update
0        1997  Van/Minivan 2024-08-18 13:36:52.121043

   customer_id                              ano_modelo             modelo  \
0         1225  2009 Chevrolet Silverado 1500 Crew Cab  Ram 3500 Crew Cab

  fabricante ano_veiculo categoria                  dt_update
0    Porsche        2008    Pickup 2024-08-18 13:36:52.139556


KeyboardInterrupt: